<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Analysis</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header><h1 id="logo">CV Analysis</h1></header>
    <div class="container">
        <div id="hero">
            <h2>Uji Coba API Machine Learning Kelompok 1 Academia</h2>
            <h4>CV Analysis</h4>
        </div>
        <div id="input-container">
            <input type="file" id="cv" accept="application/pdf">
            <button id="upload-cv">Upload CV</button>
        </div>
        <h4 id="hasil" style="color: #7A7A7A;"></h4>
    </div>
    <script src="./script.js"></script>
</body>
</html>