@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    width: 100%;
    position: fixed;
    background-color: #212121;
}

header #logo {
    font-size: 24px;
    color: #7A7A7A;
}

.container {
    width: 770px;
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    margin-top: 64px;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    row-gap: 15px;
}

#hero {
    color: #7A7A7A;
    text-align: center;
    width: 100%;

}

#upload-cv {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: #2D336B;
    color: white;
    border: none;
    margin-top: 8px;
}